html, body {
  height: 100%;
}

@font-face {
    font-family: open-sans;
    src: url(OpenSans-VariableFont_wdth,wght.ttf)
}

body {
  display: flex;
  flex-direction: column;
  background: #2d3436; /*dracula orchid*/
  color: #dfe6e9; /*city lights*/
  font-family: open-sans;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.center {
    margin: auto;
}
